
<md-content layout-xs="column" layout="row">
    <div flex="60" layout="column">
        <md-card class="default-card">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline"><a href="https://ocul.on.ca/omni/"><img src="custom/01OCUL_WTL-WTL_DEFAULT/img/omni-uwaterloo-logo.svg" alt="Omni logo" width="200" height="62"></a></span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <p>
                    <a href="https://ocul.on.ca/omni/">Omni</a> is the new, easy-to-use academic search tool that gives you access to high-quality resources from participating Ontario university libraries.
                </p>
                <ul>
                    <li>Powerful search tool for discovery and in-depth research</li>
                    <li>Quick and streamlined access to resources</li>
                    <li>Intuitive mobile-friendly user experience</li>
                </ul>
				<p>Sign in for full access to content, features, and your library account.</p>
            </md-card-content>
        </md-card>        
    </div>
    <div flex-xs flex="40" layout="column">
		<md-card class="default-card">
            <md-card-title>
                <md-card-title-text>
                    <h2><span class="md-headline">Where can I get help?</span></h2>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <p>
                    <a href="https://uwaterloo.ca/library/services/ask-us">Ask us</a> a question to start your search or for any other questions or comments.
                </p>
                <div id="libchat_066533fbd9dc994a7032856801873c71"></div>
            </md-card-content>
        </md-card>
    </div>
</md-content>